* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  font-family: Inter, sans-serif;
}

.container {
  display: flex;
  height: 100%;
}

.lateral {
  width: 20vw;
  height: 100%;
  background-color: #fbfbfb;
  border-right: 1px solid #e8e8e8;
}

.lateral-header {
  display: flex;
  align-items: center; /* Alinea verticalmente el SVG y el h1 */
  padding-left: 20px; /* Agrega padding a la izquierda */
  height: 76px;
}

.lateral-header h1 {
  margin-left: 10px; /* Agrega espacio entre el SVG y el h1 */
}

.principal .titulo,
.principal nav,
.principal .contenido {
  background-color: #ffffff;
}

.principal .titulo {
  border-bottom: 1px solid #e8e8e8;
}

.principal {
  display: flex;
  flex-direction: column;
  width: 80vw;
  height: 100%;
}

.titulo {
  height: 76px;
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
  flex-shrink: 0;
}

.crear-tarea-btn {
  width: 105px;
  height: 38px;
  background-color: #05a5fb;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s; /* Suaviza la transición de color al hacer hover */
  font-size: 14px;
  font-weight: 600;
}

.crear-tarea-btn:hover {
  background-color: #0487d1; /* Color un poco más oscuro al hacer hover */
}

h1 {
  font-size: 20px;
  font-weight: 600;
}

h2 {
  font-size: 16px;
}

nav {
  display: flex;
  align-items: center;
  padding-left: 30px;
  height: 44px;
  flex-shrink: 0;
  border-bottom: 1px solid #e8e8e8;
}

nav a {
  text-decoration: none;
  color: #333;
  margin-right: 30px;
  font-weight: 400;
}

nav a:last-child {
  margin-right: 0;
}

.contenido {
  flex-grow: 1;
}

.custom-column {
  width: 348px;
  height: 700px;
  margin-top: 20px; /* separación con el borde inferior del nav */
  margin-left: 20px; /* separación con el borde derecho de la sección "lateral" */
  margin-bottom: 20px;
  border-radius: 12px;
  background-color: #fbfbfb;
  border: 1px solid #e8e8e8;
}

.btn-nuevo {
  margin-top: 25px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25);
  padding: 10px;
  border-radius: 12px;
  background-color: #fff;
  border: none;
  min-width: 190px;
  display: none;
  flex-direction: row;
  align-items: center;
  font-size: 18px;
  cursor: pointer;
  height: 40px;
}

#nuevo {
  margin-right: 16px;
  margin-left: 5px;
  height: 18px;
}

.menu-lateral {
  padding-left: 20px;
}

.divider {
  width: calc(100% - 40px);
  margin: 24px 20px;
  height: 1px;
  background: #d9d9d9;
}

.menu-section {
  margin-top: 20px;
  margin-left: 20px;
  color: #8e8e8e;
}

.menu-link {
  display: flex;
  align-items: center; /* Alineación vertical del SVG y el texto */

  text-decoration: none;
  margin-bottom: 15px; /* Espacio entre enlaces */
}

.menu-link svg {
  margin-right: 10px; /* Espacio entre el SVG y el texto */
}

#h2-menu {
  padding-bottom: 16px;
  font-size: 16px;
}

.a-a-menu {
  height: 18px;
  margin-right: 10px;
  color: #8e8e8e;
}

.menu-a {
  font-size: 18px;
  font-weight: 600;
  color: #8e8e8e;
}

.modal-tarea {
  position: fixed;
  top: 0; /* Ajusta aquí para que inicie desde el borde superior del viewport */
  right: -340px;
  width: 340px;
  bottom: 0;
  background-color: #5f2a2a;
  overflow-y: auto;
  transition: right 0.3s;
  z-index: 1000;
}
/* Clase que moverá el modal a la vista */
.modal-tarea.show {
  right: 0;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3); /* Color negro con 70% de opacidad */
  z-index: 999; /* Aseguramos que esté debajo del modal pero sobre el resto del contenido */
  display: none; /* Inicialmente oculto */
  opacity: 0; /* Comienza completamente transparente */
  transition: opacity 0.3s; /* Transición suave de la opacidad */
}

/* Cuando el modal esté visible, mostramos también el overlay */
.modal-tarea.show + .overlay {
  opacity: 1; /* Se vuelve completamente opaco */
}

.card-task {
  background-color: white;
  margin: 10px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  border: 1px solid #e8e8e8;
}

.priority-indicator {
  width: 44px;
  height: 24px;
  background-color: orange;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  border-radius: 4px;
}

h3 {
  margin-top: 10px; /* Espacio entre el div anterior y el h3 */
  margin-bottom: 10px; /* Espacio entre el h3 y los íconos/texto siguientes */
  font-size: 16px;
  font-weight: 600;
}

.datos {
  color: #8e8e8e;
  font-size: 12px;
  font-weight: 600;
}

.task-details {
  display: flex;
  align-items: center; /* Alinea verticalmente los íconos y el texto */
}

.task-details .separator {
  width: 18px; /* Espacio entre los íconos y el texto */
  display: inline-block;
}

/* Considera añadir más estilos si necesitas ajustes adicionales. */
